.popup {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation-name: forthcoming;
  animation-duration: 1s;
  z-index: 2;
}
