.header__logo {
  max-width: 142px;
  min-height: 33px;
  padding-bottom: 41px;
  margin: 45px 0 0 0;
}

@media screen and (max-width: 760px) {
  .header__logo {
    padding-bottom: 31px;
    margin: 28px 0 0 27px;
  }
}
