.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 200px * 2);
  margin: 0 auto;
}

@media screen and (max-width: 1075px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 760px) {
  .profile {
    width: calc(100% - 19px * 2);
  }
}
