.button_type_add {
  border: 2px solid var(--white);
  padding: 0;
  max-height: 50px;
  margin-top: 35px;
}

.button_type_add > * {
  padding: 12px 62px;
  align-self: center;
}

@media screen and (max-width: 1075px) {
  .button_type_add {
    width: 100%;
  }
}

@media screen and (max-width: 890px) {
  .button_type_add {
    max-width: 282px;
    margin: 0;
  }
}
