.button_type_edit {
  right: 0;
  top: 32px;
  border: 1px solid var(--white);
  max-width: 24px;
  max-height: 24px;
}

@media screen and (max-width: 890px) {
  .button_type_edit {
    top: 5px;
  }
}
