.button_type_save {
  border: none;
  border-radius: 2px;
  color: var(--white);
  max-width: 358px;
  height: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 700px) {
  .button_type_save {
    height: 46px;
  }
}
