.profile__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 890px) {
  .profile__box {
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
