:root {
  --white: #ffffff;
  --grey: #545454;
  --black: #000000;
}

.page {
  background-color: var(--black);
  max-width: 1280px;
  width: 100%;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--white);
  margin: 0 auto;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
