.footer__paragraph {
  color: var(--grey);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 67px;
  margin-left: 200px;
}

@media screen and (max-width: 750px) {
  .footer__paragraph {
    margin-left: 19px;
  }
}
