@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/button/button.css);
@import url(../blocks/button/_type/button_type_edit.css);
@import url(../blocks/button/_type/button_type_add.css);
@import url(../blocks/button/_type/button_type_close.css);
@import url(../blocks/button/_position/button_position_closer.css);
@import url(../blocks/button/_type/button_type_save.css);
@import url(../blocks/button/_inactive/button_type_save_inactive.css);
@import url(../blocks/button/_margin/button_type_save_margin_less.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__box/profile__box.css);
@import url(../blocks/profile/__photo/profile__photo.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__profession/profile__profession.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/elements/__element/elements__element.css);
@import url(../blocks/elements/__image/elements__image.css);
@import url(../blocks/elements/__mask/elements__mask.css);
@import url(../blocks/elements/__like/elements__like.css);
@import url(../blocks/elements/__like/_active/elements__like_active.css);
@import url(../blocks/elements/__text/elements__text.css);
@import url(../blocks/elements/__delete/elements__delete.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/forthcoming/forthcoming.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__set/popup__set.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__heading/_el/popup__heading_el_position.css);
@import url(../blocks/popup/__item/popup__item.css);
@import url(../blocks/popup/__item/_el/popup__item_el_name.css);
@import url(../blocks/popup/__item-error/popup__item-error.css);
@import url(../blocks/popup/__item-error/_active/popup__item-error_active.css);
@import url(../blocks/popup/__item/_el/popup__item_el_profession.css);
@import url(../blocks/popup/__item/_el/popup__item_el_avatar.css);
@import url(../blocks/popup/__item/_type/popup__item_type_error.css);
@import url(../blocks/popup/__card/popup__card.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__picture/popup__picture.css);
@import url(../blocks/popup/__caption/popup__caption.css);
@import url(../blocks/popup/_opacity/popup_opacity_less.css);
@import url(../blocks/popup/_opacity/popup_opacity_none.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__paragraph/footer__paragraph.css);
